
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #808080;
}

input[type=reset] {
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #808080;
}

.submit {
width: 122px;
margin-bottom: 5px;
}

.reset {
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
width: 122px;
}

h1 {
  text-align: center;
}

img {
  display:block;
  margin:auto;
}

#button {
  background-color: #008CBA;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  margin-bottom: 20px;
}

.get-option {
  width: 250px;
  max-width: 100%;
}

.wrapper {
  width: 1000;
  margin: 0 auto;
}

.form-wrapper {
  width: 33%;
  float: left;
  padding-left: 10px;
}

.heatmap-wrapper {
  width: 66%;
  position: absolute;
  margin-left: 150px;
}
