
body {
  font-family: Arial, Helvetica, sans-serif;
}

#construction {
  margin: auto;
  width: 800px;

}
#construction img {
  max-width:100%;
  max-height:100%;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#submit {
width: 151px;
}

#reset {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
width: 151px;
}

#createnew {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 305px;
}

#container-login {
  margin: auto;
  width: 350px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #171717;
}

/*#dashboard-wrapper {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

h1 {
  text-align: center;
  z-index: 1;
}

#dbContainer {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 500px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #171717;
}

.dashboard {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 100px 100px 100px 30px;
  grid-gap: 1rem;
}

.option {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #171717;
  color: black;
  font-weight: 600;
  text-align: center;
  padding-top: 36px;
  font-size: 20px;
}

.option a {
  text-decoration: none;
  color: black;

}

.option a:visited {
  text-decoration: none;
  color: black;
}

#newActivityBadge, #newActivityNotify {
  font-size: 11px;
  padding-top: 20px;
}

.on-off {
  font-size: 22px;
  font-weight: 600;
}

#logout {
  padding-top: 0px;
  height:30px;
}

#logout a {
  font-size: 12px;
}

/* Heatmap select styles */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
